<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skywalker.proveedorcontenidoplaystation2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".aplicacion.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Playstation 2 DATA BASE"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Playstation 2 DATA BASE"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PS2.PS2Activity"
            android:label="Playstation 2 DATA BASE"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.skywalker.proveedorcontenidoplaystation2.MainActivity" />
        </activity>
        <activity
            android:name=".PS2.PS2InsercionActivity"
            android:label="Playstation 2 DATA BASE"
            android:parentActivityName=".PS2.PS2Activity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PS2.PS2Activity" />
        </activity>
        <activity
            android:name=".PS2.PS2ActualizacionActivity"
            android:label="Playstation 2 DATA BASE"
            android:parentActivityName=".PS2.PS2Activity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PS2.PS2Activity" />
        </activity>

        <provider
            android:name=".proveedor.ProveedorDeContenido"
            android:authorities="com.example.skywalker.proveedorcontenidoplaystation2.proveedor.ProveedorDeContenido"
            android:enabled="true"
            android:exported="true"
            android:syncable="true" />

        <service
            android:name=".authenticator.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".TabsActivity"
            android:label="Playstation 2 DATA BASE"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="Playstation 2 DATA BASE"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>